# Ignore all JavaScript files in the /dist folder
dist/**/*.js

# Ignore all files in the /build folder
build/

# Ignore specific configuration files
*.config.js

# Ignore JSON files
*.json

# Ignore node_modules (though it’s ignored by default)
node_modules/


